USE [master]
GO
/****** Object:  Database [WecDonald's]    Script Date: 2024/3/22 上午 09:09:38 ******/
CREATE DATABASE [WecDonald's]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WecDonald''s', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WecDonald''s.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WecDonald''s_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WecDonald''s_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WecDonald's].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WecDonald's]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 2024/3/22 上午 09:09:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[product_id] [int] NULL,
	[amount] [int] NULL,
 CONSTRAINT [PK_ShoppingCart] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[food_plan]    Script Date: 2024/3/22 上午 09:09:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food_plan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[用餐方式] [nvarchar](50) NULL,
 CONSTRAINT [PK_用餐方式] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[members]    Script Date: 2024/3/22 上午 09:09:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[members](
	[mId] [int] IDENTITY(1,1) NOT NULL,
	[mName] [nvarchar](50) NULL,
	[mAddr] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[birthday] [date] NULL,
	[mTel] [nvarchar](100) NULL,
	[password] [nvarchar](50) NULL,
	[permission] [int] NULL,
	[points] [int] NULL,
	[cash] [int] NULL,
	[token] [int] NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[mId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderForm]    Script Date: 2024/3/22 上午 09:09:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderForm](
	[會員id] [int] NULL,
	[訂單編號] [int] IDENTITY(1,1) NOT NULL,
	[訂單時間] [datetime] NULL,
	[訂單狀態] [nvarchar](50) NULL,
	[訂單明細] [nvarchar](50) NULL,
 CONSTRAINT [PK_OrderForm] PRIMARY KEY CLUSTERED 
(
	[訂單編號] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment]    Script Date: 2024/3/22 上午 09:09:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[payment] [nvarchar](50) NULL,
 CONSTRAINT [PK_payment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 2024/3/22 上午 09:09:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pname] [nvarchar](500) NULL,
	[price] [int] NULL,
	[pdesc] [nvarchar](500) NULL,
	[pimage] [nvarchar](500) NULL,
	[type] [int] NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[store]    Script Date: 2024/3/22 上午 09:09:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[store](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sName] [nvarchar](50) NULL,
	[sAddr] [nvarchar](50) NULL,
	[area] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[sTel] [nvarchar](50) NULL,
 CONSTRAINT [PK_store] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type]    Script Date: 2024/3/22 上午 09:09:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[typeName] [nvarchar](50) NULL,
 CONSTRAINT [PK_product_type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[carts] ON 

INSERT [dbo].[carts] ([id], [user_id], [product_id], [amount]) VALUES (13, 7, 3, 10)
INSERT [dbo].[carts] ([id], [user_id], [product_id], [amount]) VALUES (17, 7, 4, 1)
INSERT [dbo].[carts] ([id], [user_id], [product_id], [amount]) VALUES (43, 22, 3, 1)
SET IDENTITY_INSERT [dbo].[carts] OFF
GO
SET IDENTITY_INSERT [dbo].[food_plan] ON 

INSERT [dbo].[food_plan] ([id], [用餐方式]) VALUES (1, N'外送')
INSERT [dbo].[food_plan] ([id], [用餐方式]) VALUES (2, N'自取')
SET IDENTITY_INSERT [dbo].[food_plan] OFF
GO
SET IDENTITY_INSERT [dbo].[members] ON 

INSERT [dbo].[members] ([mId], [mName], [mAddr], [email], [birthday], [mTel], [password], [permission], [points], [cash], [token]) VALUES (1, N'張三', N'高雄市前金區自立二路4311號', N'rachel8451@outlook.com', CAST(N'2007-06-08' AS Date), N'0800696969', N'223344', 100, 0, 0, NULL)
INSERT [dbo].[members] ([mId], [mName], [mAddr], [email], [birthday], [mTel], [password], [permission], [points], [cash], [token]) VALUES (4, N'李四', N'高雄市前鎮區南信街3587號', N'erin6197@gmail.com', CAST(N'1982-12-03' AS Date), N'0900111222', N'55688', 1, 0, 0, NULL)
INSERT [dbo].[members] ([mId], [mName], [mAddr], [email], [birthday], [mTel], [password], [permission], [points], [cash], [token]) VALUES (7, N'田中', N'高雄市三民區寧夏街4256號', N'briggs821@yahoo.com', CAST(N'1978-03-28' AS Date), N'0900333444', N'15151', 1000, 10, 100, NULL)
SET IDENTITY_INSERT [dbo].[members] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderForm] ON 

INSERT [dbo].[OrderForm] ([會員id], [訂單編號], [訂單時間], [訂單狀態], [訂單明細]) VALUES (23, 12, CAST(N'2024-03-20T10:41:08.030' AS DateTime), N'未排單', N'2403201041085839訂購檔.txt')
SET IDENTITY_INSERT [dbo].[OrderForm] OFF
GO
SET IDENTITY_INSERT [dbo].[payment] ON 

INSERT [dbo].[payment] ([id], [payment]) VALUES (1, N'現金')
INSERT [dbo].[payment] ([id], [payment]) VALUES (2, N'信用卡')
INSERT [dbo].[payment] ([id], [payment]) VALUES (3, N'儲值金')
SET IDENTITY_INSERT [dbo].[payment] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [pname], [price], [pdesc], [pimage], [type]) VALUES (1, N'麥克鷄塊(6塊)', 69, N'大家都愛麥克鷄塊！

嚴選優質鷄肉， 以鷄胸和鷄腿黃金比例調配，並依照麥當勞全球產品規範，以天然澱粉取代雞肉中做為保水成分的合法食品添加物-磷酸鹽，讓美味更簡單！

口感外酥內軟，搭上經典醣醋醬， 酸酸甜甜越吃越順口；還有多款沾醬，讓吃法充滿樂趣，男女老少都愛吃！你呢？今天麥克鷄塊了嗎？', N'2402021544007948.png', 1)
INSERT [dbo].[products] ([id], [pname], [price], [pdesc], [pimage], [type]) VALUES (2, N'大麥克', 75, N'麥當勞永遠的一號餐， 全球狂熱50年， 紐澳100%雙層純牛肉， 淋上大麥克招牌醬料， 加上生菜、吉事、洋蔥、酸黃瓜， 美味層層堆疊，口感樂趣無窮。 從美國總統到素人都是鐵粉， 經濟學家還發明「大麥克指數」致敬，果然，只有大麥克，才是大麥克！', N'2402021546482152.png', 1)
INSERT [dbo].[products] ([id], [pname], [price], [pdesc], [pimage], [type]) VALUES (3, N'麥香雞', 45, N'清脆爽口新鮮生菜，外酥內嫩麥香鷄排，淋上特製醬料，通通夾進撒上芝麻顆粒的滿意麵包！熟悉的經典美味， 不只超值，更有品質。', N'2402021837083567.png', 1)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[store] ON 

INSERT [dbo].[store] ([id], [sName], [sAddr], [area], [city], [sTel]) VALUES (1, N'高雄五福餐廳', NULL, NULL, NULL, NULL)
INSERT [dbo].[store] ([id], [sName], [sAddr], [area], [city], [sTel]) VALUES (2, N'高雄新大勇餐廳', NULL, NULL, NULL, NULL)
INSERT [dbo].[store] ([id], [sName], [sAddr], [area], [city], [sTel]) VALUES (3, N'高雄建國三店', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[store] OFF
GO
SET IDENTITY_INSERT [dbo].[type] ON 

INSERT [dbo].[type] ([id], [typeName]) VALUES (1, N'超值A區')
INSERT [dbo].[type] ([id], [typeName]) VALUES (2, N'超值B區')
INSERT [dbo].[type] ([id], [typeName]) VALUES (3, N'點心')
SET IDENTITY_INSERT [dbo].[type] OFF
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [FK_carts_members] FOREIGN KEY([user_id])
REFERENCES [dbo].[members] ([mId])
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [FK_carts_members]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [FK_carts_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [FK_carts_products]
GO
ALTER TABLE [dbo].[OrderForm]  WITH CHECK ADD  CONSTRAINT [FK_OrderForm_members] FOREIGN KEY([會員id])
REFERENCES [dbo].[members] ([mId])
GO
ALTER TABLE [dbo].[OrderForm] CHECK CONSTRAINT [FK_OrderForm_members]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_type] FOREIGN KEY([type])
REFERENCES [dbo].[type] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_type]
GO
USE [master]
GO
